venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.venv
bin/
lib/
include/
local/
.git/
.gitignore
data/raw/
data/processed/
models/
notebooks/
tests/
.idea/
.vscode/
.env
*.mp3
*.wav
*.m4a
temp_*
