# API
fastapi
uvicorn
python-multipart
pydantic
uvicorn[standard]

# ML - Transcription (Faster-Whisper)
faster-whisper
torch
accelerate

# ML - Answerer (Transformers)
transformers
sentencepiece
huggingface_hub

# Utils
python-dotenv
httpx
redis
